#sidebar{
    position: relative;
    transition: 1s;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    /* box-shadow: 0px 0px 20px black; */
    height: 90vh;
}
.close {
    width: 5%;
    margin-right: 1rem;
}
.close .closed{
    display: flex;
}
.close .opened{
    display: none;
}
.open{
    width: 15%;
    margin-right: 1rem;
}
.open .opened{
    display: flex;
    flex-direction: column;
}
.open .closed{
    display: none;
}
.x-square{
    position: absolute;
    top: 0;
    right: 0;
}
#dashboard{
    width: 95%;
}